* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background-color: #1b5240;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 0 50px;

}

.nav-left,
.nav-center,
.nav-right {
    flex: 1;
}

.nav-left {
    display: flex;
    align-items: center;
}

.country-select {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 25px;
    margin: 0;
}

.country {
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.country-text {
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    gap: 10px;
    text-decoration: none;
}

.nav-center {
    display: flex;
    justify-content: center;
}

.logo {
    width: 250px;
    height: 50px;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.search {
    display: flex;
    align-items: center;
    padding-left: 50px;
    gap: 15px;
    color: white;
    font-weight: bold;
    background-color: transparent;
    padding: 25px;
    margin: 0;
}

.search-icon {
    width: 15px;
    height: 15px;
}

.link {
    color: white;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
    padding: 25px;
}

.link:hover,
.search:hover,
.country-select:hover {
    background-color: #226a52;
}


.hero-section {
    height: 60vh;
    background-image: url(/images/hero.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.open-hour-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b5240;
    gap: 40px;
    padding: 50px;
}

.open-hour-card {
    background-color: rgb(241, 241, 241);
    padding: 20px 30px;
    border-radius: 15px;
    min-width: 300px;
    min-height: 210px;
    border: 4px dashed #1b5240;
}

.open-hour-card h1 {
    text-align: left;
    font-weight: 400;
}

.open-hour-card h2 {
    font-weight: 200;
}

.open-hour-card a {
    color: black;
    font-weight: bold;
}

.footer {
    padding: 50px 40px;
    background-color: #12362a;
    color: rgb(223, 223, 223);
}