* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1b5240;
    --secondary-color: #143d2f;
    --lower-navbar-color: white;
    --text-color: white;
    --footer-color: #0d261e;
    --third-color: rgb(198, 125, 125);
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    background-color: #1b5240;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


header {
    background-color: var(--primary-color);
    margin-top: 50px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 0 50px;
    background-color: var(--primary-color);

}

.nav-left,
.nav-center,
.nav-right {
    flex: 1;
}

.nav-left {
    display: flex;
    align-items: center;
}

.country-select {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 18px 25px;
    margin: 0;
    transition: background-color 0.3s ease;
}

.country {
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.country-text {
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-weight: bold;
    gap: 10px;
    text-decoration: none;
}

.logo {
    width: 200px;
    height: auto;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

header.scrolled .logo {
    opacity: 1;
    transform: translateY(0);
}


.nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    padding-left: 50px;
    gap: 15px;
    color: var(--text-color);
    font-weight: bold;
    background-color: transparent;
    padding: 18px 25px;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-icon {
    width: 15px;
    height: 15px;
}

.link {
    color: var(--text-color);
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
    padding: 18px 25px;
    transition: background-color 0.3s ease;
}

.link:hover,
.search:hover,
.country-select:hover {
    background-color: #226a52;
}

.navbar-lower {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--lower-navbar-color);
    padding: 0 50px;
}

.nav-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-lower {
    width: 350px;
    height: auto;
}

header.scrolled .logo {
    width: 200px;
}

.link-lower {
    color: black;
    font-size: 23px;
    text-decoration: none;
    font-weight: 600;
    padding: 25px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.link-lower:hover {
    background-color: var(--third-color);
    color: var(--text-color);
}


.hero-section {
    height: 60vh;
    background-image: url(/images/hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.open-hour-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    gap: 40px;
    padding: 50px;
}

.open-hour-card {
    background-color: rgb(246, 246, 246);
    background-color: var(--text-color);
    padding: 20px 30px;
    border-radius: 15px;
    min-width: 300px;
    min-height: 210px;
    border: 4px dashed var(--primary-color);
}

.open-hour-card h1 {
    text-align: left;
    font-weight: 400;
}

.open-hour-card h2 {
    font-weight: 200;
}

.open-hour-card a {
    color: black;
    font-weight: bold;
}


.animal-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 150px;
    background-color: var(--text-color);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.animal-section h1 {
    text-align: center;
    color: var(--primary-color);
    font-size: 40px;
}

.animal-wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.top-row {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 40px;
}

.bottom-row {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.animal-card a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.animal-card img {
    width: 300px;
    height: 400px;
    border-radius: 20px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.animal-card img:hover {
    transform: scale(1.05);
}

.animal-card a {
    font-weight: bold;
    color: black;
    font-size: 20px;
    text-decoration: none;
}


.explore-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 150px;
    background-color: var(--secondary-color);
}

.explore-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.explore-info-wrapper {
    display: flex;
    flex-direction: column;
}

.explore-title-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
}

.explore-title-wrapper img {
    width: 60px;
    height: 60px;
}

.explore-title-wrapper h1 {
    font-size: 25px;
    color: var(--text-color);
    text-align: center;
}

.explore-info-wrapper h2 {
    font-size: 16px;
    width: 300px;
    text-align: center;
    font-weight: 400;
    color: var(--text-color);
}

.explore-info-wrapper a {
    color: var(--text-color);
    font-weight: bold;
}


.table-section {
    background-color: var(--text-color);
    padding: 50px 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table {
    width: 700px;
    background-color: var(--primary-color);
}

.table caption {
    font-size: 30px;
    font-weight: bold;
    color: var(--primary-color);
    padding-bottom: 30px;
}


.table th {
    padding: 15px;
    background-color: var(--text-color);
}

.table td {
    padding: 15px;
    background-color: var(--text-color);
}

.table img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.table a {
    color: black;
}


.map-section {
    display: flex;
    padding: 100px 150px;
    background-color: var(--secondary-color);
}

.title-wrap {
    display: flex;
    gap: 20px;
    padding-bottom: 30px;
}

.map-icon {
    width: 50px;
    height: 50px;
}

.title-wrap h1 {
    margin: 0;
    font-size: 40px;
    color: var(--text-color);
    padding-bottom: 30px;
}

.location-row {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
}

.ping-icon {
    width: 20px;
    height: 20px;
}

.location-row a {
    color: var(--text-color);
    padding-top: 5px;
}

.map {
    margin-left: auto;
    padding-bottom: 10px;
}

.map iframe {
    width: 600px;
    height: 300px;
    border-radius: 20px;
}

.location-info p {
    color: white;
}


.newsletter-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--text-color);
    padding: 50px 100px;
    gap: 80px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 20px;
}

.form-top,
.form-bottom {
    display: flex;
    gap: 20px;
    width: 100%;
}

.field {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form label {
    font-size: 16px;
    font-weight: 600;
    color: var(--secondary-color);
}

.form input {
    padding: 10px 10px;
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    margin-top: 8px;
    background-color: #f8f8f8;
}

.form button {
    margin-left: auto;
    border: none;
    padding: 10px 14px;
    width: 150px;
    border-radius: 4px;
    font-size: 16px;
    color: black;
    font-weight: bold;
    background-color: var(--third-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form button:hover {
    background-color: var(--primary-color);
    color: white;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

#terms {
    cursor: pointer;
}

.checkbox-wrapper label {
    font-size: 12px;
    margin-top: 4px;
    cursor: pointer;
}

.newsletter-info {
    width: 700px;
    margin-bottom: auto;
}

.newsletter-info h1 {
    color: var(--primary-color);
    margin: 0;
}

.newsletter-info p {
    margin-top: 30px;
    width: 600px;
    color: var(--primary-color);
}


.footer {
    padding: 50px 40px;
    background-color: var(--footer-color);
    color: rgb(223, 223, 223);
}